In [1]:
import numpy as np
import pandas as pd

In [2]:
test = pd.read_excel('Test_dataset.xlsx')

In [3]:
test.head()

,City,State,Type,Population [2011],Popuation [2001],Sex Ratio,Median Age,Avg Temp,SWM,Toilets Avl,Water Purity,H Index,Female Population,# of hospitals,Foreign Visitors
0,Tuensang,Nagaland,T.C,36774.0,NaN,931.0,23.0,10.0,MEDIUM,94.0,114.0,0.253390,34237.0,17.0,2769.0
1,Lakshmeshwar,Karnataka,T.M.C,36754.0,NaN,934.0,25.0,38.0,HIGH,62.0,160.0,0.192555,34328.0,13.0,636502.0
2,Zira,Punjab,M.Cl.,36732.0,NaN,883.0,29.0,35.0,HIGH,63.0,105.0,0.887882,32434.0,17.0,242367.0
3,Yawal,Maharashtra,M.Cl,36706.0,NaN,887.0,26.0,31.0,HIGH,60.0,174.0,0.407838,32558.0,11.0,4408916.0
4,Thana Bhawan,Uttar Pradesh,N.P.,36669.0,NaN,877.0,28.0,39.0,LOW,92.0,153.0,0.324456,32159.0,23.0,3104060.0

In [4]:
train = pd.read_excel('Train_dataset.xlsx')

In [5]:
train.head()

,City,State,Type,Population [2011],Popuation [2001],Sex Ratio,Median Age,Avg Temp,SWM,Toilets Avl,Water Purity,H Index,Female Population,# of hospitals,Foreign Visitors,Covid Cases
0,Mumbai,Maharashtra,M.C,12442373.0,11978450.0,878.0,23.0,32.0,MEDIUM,219.0,150.0,0.700440,10924403.0,159.0,4408916.0,163115
1,Delhi,Delhi,M.C,11007835.0,9879172.0,858.0,27.0,30.0,MEDIUM,215.0,196.0,0.920018,9444722.0,148.0,2379169.0,80188
2,Bangalore,Karnataka,MPUA,8436675.0,4301326.0,936.0,28.0,37.0,HIGH,212.0,102.0,0.097085,7896728.0,123.0,636502.0,141000
3,Hyderabad,Telangana,MPUA,6809970.0,3637483.0,930.0,23.0,31.0,MEDIUM,217.0,118.0,0.827744,6333272.0,110.0,126078.0,55123
4,Ahmedabad,Gujarat,MPUA,5570585.0,3520085.0,852.0,29.0,25.0,LOW,227.0,109.0,0.847941,4746138.0,73.0,284973.0,33204

In [6]:
test.isnull().sum()

City                   0
State                  0
Type                   2
Population [2011]      6
Popuation [2001]     501
Sex Ratio              5
Median Age            13
Avg Temp              14
SWM                    9
Toilets Avl           22
Water Purity          19
H Index               15
Female Population     15
# of hospitals        17
Foreign Visitors      17
dtype: int64

In [7]:
train.isnull().sum()

City                   0
State                  0
Type                   0
Population [2011]     48
Popuation [2001]     492
Sex Ratio             10
Median Age            18
Avg Temp              17
SWM                    4
Toilets Avl           26
Water Purity         158
H Index              140
Female Population    141
# of hospitals        15
Foreign Visitors      90
Covid Cases            0
dtype: int64

In [8]:
train.fillna(train['Population [2011]'].mean(),inplace = True)

In [9]:
train.fillna(train['Popuation [2001]'].mean(),inplace = True)

In [10]:
train.fillna(train['Sex Ratio'].mean(),inplace = True)

In [11]:
train.fillna(train['Median Age'].mean(),inplace = True)

In [12]:
train.fillna(train['Avg Temp'].mean(),inplace = True)

In [13]:
train["SWM"].fillna( method ='ffill', inplace = True)

In [14]:
train.fillna(train['Toilets Avl'].mean(),inplace = True)

In [15]:
train.fillna(train['Water Purity'].mean(),inplace = True)

In [16]:
train.fillna(train['H Index'].mean(),inplace = True)

In [17]:
train.fillna(train['Female Population'].mean(),inplace = True)

In [18]:
train.fillna(train['# of hospitals'].mode(),inplace = True)

In [19]:
train.fillna(train['Foreign Visitors'].mean(),inplace = True)

In [20]:
train.isnull().sum()

City                 0
State                0
Type                 0
Population [2011]    0
Popuation [2001]     0
Sex Ratio            0
Median Age           0
Avg Temp             0
SWM                  0
Toilets Avl          0
Water Purity         0
H Index              0
Female Population    0
# of hospitals       0
Foreign Visitors     0
Covid Cases          0
dtype: int64

In [21]:
train.isnull().any()

City                 False
State                False
Type                 False
Population [2011]    False
Popuation [2001]     False
Sex Ratio            False
Median Age           False
Avg Temp             False
SWM                  False
Toilets Avl          False
Water Purity         False
H Index              False
Female Population    False
# of hospitals       False
Foreign Visitors     False
Covid Cases          False
dtype: bool

In [22]:
train.dtypes

City                  object
State                 object
Type                  object
Population [2011]    float64
Popuation [2001]     float64
Sex Ratio            float64
Median Age           float64
Avg Temp             float64
SWM                   object
Toilets Avl          float64
Water Purity         float64
H Index              float64
Female Population    float64
# of hospitals       float64
Foreign Visitors     float64
Covid Cases            int64
dtype: object

In [23]:
train['SWM'].value_counts()

HIGH                 272
LOW                  260
MEDIUM               251
310283.4167794317      4
Name: SWM, dtype: int64

In [24]:
train.drop(train[train['SWM'] == 310283.4167794317].index, axis=0, inplace = True)

In [25]:
train['SWM'].value_counts()

HIGH      272
LOW       260
MEDIUM    251
Name: SWM, dtype: int64

In [26]:
train['City'].value_counts()

Aurangabad          3
Ramnagar            3
Phagwara            2
Tezpur              2
Thrissur            2
Kottayam            2
Miryalaguda         2
Kavali              2
Chennai             2
Tiruppur            2
Jorhat              2
Tinsukia            2
Indore              2
Salur               1
Pernampattu         1
Sindhnur            1
Gadwal              1
Karunagappally      1
Tirupathur          1
Agra                1
Kharagpur           1
Karimnagar          1
Kendrapara          1
Mandi Dabwali       1
Lunawada            1
Lanka               1
Howrah              1
Ankleshwar          1
Ashok Nagar         1
Siddipet            1
                   ..
Narasapuram         1
Bhilwara            1
Jhargram            1
Unjha               1
Rampurhat           1
Alirajpur           1
Gudur               1
Bhatapara           1
Mango               1
Amritsar            1
Virudhachalam       1
Tandur              1
Bargarh             1
Nellikuppam         1
Bharatpur           1
Udaipur             1
Jalandhar           1
Kumbakonam          1
Neyyattinkara       1
Kallakurichi        1
Viluppuram          1
Sillod              1
Thiruvallur         1
Padra               1
Bhagalpur           1
Khora, Ghaziabad    1
Sira                1
Serampore           1
Lunglei             1
Suratgarh           1
Name: City, Length: 768, dtype: int64

In [27]:
from sklearn.preprocessing import LabelEncoder #Converting categorical values into the numeric 
le = LabelEncoder() 
  
train['City']= le.fit_transform(train['City']) 
train['State']= le.fit_transform(train['State']) 
train['Type']= le.fit_transform(train['Type']) 
train['SWM']= le.fit_transform(train['SWM'])

In [28]:
train.drop(['Popuation [2001]'], axis='columns', inplace=True)

In [29]:
train.head()

,City,State,Type,Population [2011],Sex Ratio,Median Age,Avg Temp,SWM,Toilets Avl,Water Purity,H Index,Female Population,# of hospitals,Foreign Visitors,Covid Cases
0,377,16,10,12442373.0,878.0,23.0,32.0,2,219.0,150.0,0.700440,10924403.0,159.0,4408916.0,163115
1,135,6,10,11007835.0,858.0,27.0,30.0,2,215.0,196.0,0.920018,9444722.0,148.0,2379169.0,80188
2,52,13,16,8436675.0,936.0,28.0,37.0,0,212.0,102.0,0.097085,7896728.0,123.0,636502.0,141000
3,210,28,16,6809970.0,930.0,23.0,31.0,2,217.0,118.0,0.827744,6333272.0,110.0,126078.0,55123
4,3,8,16,5570585.0,852.0,29.0,25.0,1,227.0,109.0,0.847941,4746138.0,73.0,284973.0,33204

In [30]:
train['Covid Cases'].value_counts()

2523     6
2490     5
2208     5
2213     4
2220     4
2576     4
2265     3
2323     3
2052     3
2351     3
2355     3
2390     3
2320     3
2270     3
2081     3
2582     3
2374     3
2568     3
2506     3
2029     3
2478     3
2184     3
2353     3
2430     3
10608    3
2895     2
2258     2
8901     2
2069     2
2487     2
        ..
571      1
9871     1
1591     1
20018    1
779      1
7729     1
3632     1
12847    1
3630     1
8747     1
2602     1
8771     1
2143     1
2660     1
4697     1
2622     1
1531     1
8801     1
8800     1
2654     1
8795     1
5368     1
2630     1
595      1
8786     1
9809     1
8783     1
2747     1
8776     1
2291     1
Name: Covid Cases, Length: 639, dtype: int64

In [31]:
test.head()

,City,State,Type,Population [2011],Popuation [2001],Sex Ratio,Median Age,Avg Temp,SWM,Toilets Avl,Water Purity,H Index,Female Population,# of hospitals,Foreign Visitors
0,Tuensang,Nagaland,T.C,36774.0,NaN,931.0,23.0,10.0,MEDIUM,94.0,114.0,0.253390,34237.0,17.0,2769.0
1,Lakshmeshwar,Karnataka,T.M.C,36754.0,NaN,934.0,25.0,38.0,HIGH,62.0,160.0,0.192555,34328.0,13.0,636502.0
2,Zira,Punjab,M.Cl.,36732.0,NaN,883.0,29.0,35.0,HIGH,63.0,105.0,0.887882,32434.0,17.0,242367.0
3,Yawal,Maharashtra,M.Cl,36706.0,NaN,887.0,26.0,31.0,HIGH,60.0,174.0,0.407838,32558.0,11.0,4408916.0
4,Thana Bhawan,Uttar Pradesh,N.P.,36669.0,NaN,877.0,28.0,39.0,LOW,92.0,153.0,0.324456,32159.0,23.0,3104060.0

In [32]:
test.isnull().sum()

City                   0
State                  0
Type                   2
Population [2011]      6
Popuation [2001]     501
Sex Ratio              5
Median Age            13
Avg Temp              14
SWM                    9
Toilets Avl           22
Water Purity          19
H Index               15
Female Population     15
# of hospitals        17
Foreign Visitors      17
dtype: int64

In [33]:
test.fillna(test['Population [2011]'].mean(),inplace = True)

In [34]:
test.fillna(test['Sex Ratio'].mean(),inplace = True)

In [35]:
test.fillna(test['Median Age'].mean(),inplace = True)

In [36]:
test.fillna(test['Avg Temp'].mean(),inplace = True)

In [37]:
test["SWM"].fillna( method ='ffill', inplace = True)

In [38]:
test.fillna(test['Toilets Avl'].mean(),inplace = True)

In [39]:
test.fillna(test['Water Purity'].mean(),inplace = True)

In [40]:
test.fillna(test['H Index'].mean(),inplace = True)

In [41]:
test.fillna(test['Female Population'].mean(),inplace = True)

In [42]:
test.fillna(test['# of hospitals'].mean(),inplace = True)

In [43]:
test.fillna(test['Foreign Visitors'].mean(),inplace = True)

In [44]:
test.drop(['Popuation [2001]'], axis='columns', inplace=True)

In [45]:
test.head()

,City,State,Type,Population [2011],Sex Ratio,Median Age,Avg Temp,SWM,Toilets Avl,Water Purity,H Index,Female Population,# of hospitals,Foreign Visitors
0,Tuensang,Nagaland,T.C,36774.0,931.0,23.0,10.0,MEDIUM,94.0,114.0,0.253390,34237.0,17.0,2769.0
1,Lakshmeshwar,Karnataka,T.M.C,36754.0,934.0,25.0,38.0,HIGH,62.0,160.0,0.192555,34328.0,13.0,636502.0
2,Zira,Punjab,M.Cl.,36732.0,883.0,29.0,35.0,HIGH,63.0,105.0,0.887882,32434.0,17.0,242367.0
3,Yawal,Maharashtra,M.Cl,36706.0,887.0,26.0,31.0,HIGH,60.0,174.0,0.407838,32558.0,11.0,4408916.0
4,Thana Bhawan,Uttar Pradesh,N.P.,36669.0,877.0,28.0,39.0,LOW,92.0,153.0,0.324456,32159.0,23.0,3104060.0

In [46]:
test['SWM'].value_counts()

LOW                   179
HIGH                  158
MEDIUM                155
24747.468686868688      9
Name: SWM, dtype: int64

In [47]:
test['Type'].value_counts()

M                     119
N.P                    86
M.Cl                   61
T.P                    42
C.T                    41
T.M.C                  22
N.A                    19
N.P.P                  19
M.B                    16
UA                      8
M.C                     8
C.T.                    7
N.P.                    6
M.Cl.                   6
T.C                     6
T.M.C.                  5
N.P.P.                  4
T.P.                    4
G.P                     3
N.A.C                   3
M.C.                    2
N.T                     2
24747.468686868688      2
G.P.                    1
I.N.A                   1
NP                      1
CT                      1
T.C.                    1
NAC                     1
M&F                     1
TP                      1
M.B.                    1
N.A.C.                  1
Name: Type, dtype: int64

In [48]:
test.drop(test[test['SWM'] == 296382.6092023149].index, axis=0, inplace = True)

In [49]:
test.drop(test[test['SWM'] == 24747.468686868688].index, axis=0, inplace = True)

In [50]:
test['SWM'].value_counts()

LOW       179
HIGH      158
MEDIUM    155
Name: SWM, dtype: int64

In [51]:
test['Type'].value_counts()

M                     117
N.P                    83
M.Cl                   61
T.P                    41
C.T                    40
T.M.C                  22
N.P.P                  19
N.A                    18
M.B                    16
UA                      8
M.C                     8
C.T.                    7
N.P.                    6
M.Cl.                   6
T.C                     5
T.M.C.                  5
N.P.P.                  4
T.P.                    4
G.P                     3
N.A.C                   3
M.C.                    2
N.T                     2
24747.468686868688      2
G.P.                    1
I.N.A                   1
NP                      1
CT                      1
T.C.                    1
NAC                     1
M&F                     1
TP                      1
M.B.                    1
N.A.C.                  1
Name: Type, dtype: int64

In [52]:
test.drop(test[test['Type'] == 24747.468686868688].index, axis=0, inplace = True)

In [53]:
test.isnull().sum()

City                 0
State                0
Type                 0
Population [2011]    0
Sex Ratio            0
Median Age           0
Avg Temp             0
SWM                  0
Toilets Avl          0
Water Purity         0
H Index              0
Female Population    0
# of hospitals       0
Foreign Visitors     0
dtype: int64

In [54]:
cities = test['City']

In [55]:
from sklearn.preprocessing import LabelEncoder #Converting categorical values into the numeric 
le = LabelEncoder() 
  
test['City']= le.fit_transform(test['City']) 
test['State']= le.fit_transform(test['State']) 
test['Type']= le.fit_transform(test['Type']) 
test['SWM']= le.fit_transform(test['SWM'])

In [56]:
X1 = train.iloc[:, :-1].values
y1 = train.iloc[:, -1].values

In [57]:

from sklearn.model_selection import train_test_split

# Splitting dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X1, y1, test_size=0.3,random_state=109) # 70% training and 30% test

In [58]:
X_train

array([[5.88000000e+02, 3.20000000e+01, 0.00000000e+00, ...,
        1.72386000e+05, 8.30000000e+01, 1.48950000e+06],
       [3.68000000e+02, 8.00000000e+00, 6.00000000e+00, ...,
        4.55820000e+04, 3.00000000e+01, 2.84973000e+05],
       [1.90000000e+01, 1.60000000e+01, 0.00000000e+00, ...,
        2.21237000e+05, 9.90000000e+01, 3.10283417e+05],
       ...,
       [5.26000000e+02, 2.60000000e+01, 3.30000000e+01, ...,
        3.48170000e+04, 1.60000000e+01, 4.68470700e+06],
       [2.82000000e+02, 3.00000000e+01, 0.00000000e+00, ...,
        1.67933000e+05, 6.80000000e+01, 3.10406000e+06],
       [6.57000000e+02, 8.00000000e+00, 0.00000000e+00, ...,
        1.54908000e+05, 9.50000000e+01, 2.84973000e+05]])

In [59]:
test

,City,State,Type,Population [2011],Sex Ratio,Median Age,Avg Temp,SWM,Toilets Avl,Water Purity,H Index,Female Population,# of hospitals,Foreign Visitors
0,439,19,24,36774.000000,931.0,23.0,10.0,2,94.000000,114.000000,0.253390,34237.000000,17.000000,2.769000e+03
1,69,12,26,36754.000000,934.0,25.0,38.0,0,62.000000,160.000000,0.192555,34328.000000,13.000000,6.365020e+05
2,484,21,13,36732.000000,883.0,29.0,35.0,0,63.000000,105.000000,0.887882,32434.000000,17.000000,2.423670e+05
3,479,15,12,36706.000000,887.0,26.0,31.0,0,60.000000,174.000000,0.407838,32558.000000,11.000000,4.408916e+06
4,421,26,18,36669.000000,877.0,28.0,39.0,1,92.000000,153.000000,0.324456,32159.000000,23.000000,3.104060e+06
5,279,12,31,36649.000000,942.0,27.0,28.0,2,92.000000,185.000000,0.571883,34523.000000,30.000000,6.365020e+05
6,253,15,12,36522.000000,887.0,26.0,31.0,2,72.000000,108.000000,0.271195,32395.000000,11.000000,4.408916e+06
7,306,24,6,36334.000000,921.0,27.0,40.0,1,70.000000,116.000000,0.494227,33464.000000,17.000000,1.260780e+05
8,171,12,26,36291.000000,940.0,23.0,37.0,1,77.000000,148.000000,0.708562,34114.000000,21.000000,6.365020e+05
9,181,22,6,36231.000000,850.0,25.0,25.0,2,61.000000,148.000000,0.592325,30796.000000,29.000000,1.475311e+06
10,130,28,6,36207.000000,949.0,24.0,26.0,1,80.000000,186.000000,0.163501,34360.000000,26.000000,1.489500e+06
11,183,15,12,36172.000000,876.0,24.0,34.0,2,59.000000,120.000000,0.514165,31687.000000,12.000000,4.408916e+06
12,161,2,21,36158.000000,877.0,28.0,10.0,1,99.000000,179.000000,0.843363,31711.000000,26.000000,5.705000e+03
13,198,11,6,36029.000000,898.0,29.0,30.0,2,55.000000,174.000000,0.033436,32354.000000,26.000000,1.677850e+05
14,473,15,13,36025.000000,874.0,23.0,35.0,2,96.000000,104.000000,0.153944,31486.000000,23.000000,4.408916e+06
15,415,12,27,35942.000000,942.0,29.0,28.0,2,87.000000,174.000000,0.438504,33857.000000,28.000000,6.365020e+05
16,101,12,26,35851.000000,943.0,25.0,38.0,1,53.000000,105.000000,0.846516,33807.000000,27.000000,6.365020e+05
17,267,14,6,35702.000000,930.0,26.0,39.0,2,91.000000,135.000000,0.874450,33203.000000,19.000000,4.213650e+05
18,66,14,17,35674.000000,932.0,24.0,40.0,1,81.000000,194.000000,0.119492,33248.000000,18.000000,4.213650e+05
19,452,0,0,35565.000000,883.0,28.0,39.0,0,73.000000,164.000000,0.663306,31404.000000,19.000000,2.378540e+05
20,343,12,26,35563.000000,936.0,26.0,37.0,1,50.000000,114.000000,0.680045,33287.000000,20.000000,6.365020e+05
21,378,22,6,35544.000000,877.0,27.0,40.0,2,96.000000,112.000000,0.347348,31172.000000,16.000000,1.475311e+06
22,445,10,31,35507.000000,906.0,28.0,13.0,0,50.000000,158.000000,0.725145,32169.000000,21.000000,5.856800e+04
23,446,15,12,35477.000000,884.0,28.0,39.0,2,95.000000,188.000000,0.865894,31362.000000,23.000000,4.408916e+06
24,249,22,6,35422.000000,853.0,23.0,39.0,1,94.000000,153.000000,0.533262,30215.000000,15.000000,1.475311e+06
25,78,12,26,35411.000000,932.0,28.0,34.0,2,72.000000,122.000000,0.119616,33003.000000,12.000000,6.365020e+05
26,454,23,6,35219.000000,919.0,29.0,25.0,0,73.000000,160.000000,0.631297,32366.000000,10.000000,4.684707e+06
27,202,26,8,35029.000000,869.0,25.0,29.0,2,54.000000,173.000000,0.507961,30440.000000,28.000000,3.104060e+06
28,478,19,25,35004.000000,929.0,23.0,10.0,0,93.000000,168.000000,0.930510,32519.000000,10.000000,2.769000e+03
29,276,7,6,34923.000000,868.0,29.0,38.0,1,76.000000,150.000000,0.046882,30313.000000,22.000000,2.849730e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,331,0,0,8142.000000,889.0,24.0,39.0,1,18.000000,165.000000,0.605192,7238.000000,5.000000,2.378540e+05
471,80,27,17,7926.000000,843.0,23.0,11.0,1,24747.468687,24747.468687,24747.468687,24747.468687,24747.468687,2.474747e+04
472,19,27,17,7722.000000,841.0,27.0,8.0,0,24747.468687,24747.468687,24747.468687,24747.468687,24747.468687,2.474747e+04
473,72,27,17,7644.000000,846.0,28.0,8.0,0,24747.468687,24747.468687,24747.468687,24747.468687,24747.468687,2.474747e+04
474,52,27,17,7611.000000,842.0,25.0,14.0,2,24747.468687,24747.468687,24747.468687,24747.468687,24747.468687,2.474747e+04
476,95,27,17,7326.000000,833.0,27.0,15.0,1,24747.468687,24747.468687,24747.468687,24747.468687,24747.468687,2.474747e+04
477,25,28,0,7113.000000,950.0,29.0,35.0,1,24747.468687,24747.468687,24747.468687,24747.468687,24747.468687,2.474747e+04
478,32,27,17,7039.000000,833.0,26.0,13.0,1,24747.468687,24747.468687,24747.468687,24747.468687,24747.468687,2.474747e+04
479,4,12,1,7034.000000,928.0,29.0,29.0,1,24747.468687,24747.468687,24747.468687,24747.468687,24747.468687,2.474747e+04
480,173,14,0,6735.000000,914.0,24.0,33.0,0,24747.468687,24747.468687,24747.468687,24747.468687,24747.468687,2.474747e+04
481,16,27,17,6720.000000,841.0,29.0,15.0,2,20.000000,198.000000,0.404887,5652.000000,3.000000,1.058820e+05
482,34,27,17,6522.000000,837.0,26.0,5.0,1,11.000000,140.000000,0.919771,5459.000000,3.000000,1.058820e+05
483,340,0,1,6393.000000,924.0,29.0,28.0,2,12.000000,160.000000,0.241490,5907.000000,4.000000,2.378540e+05
484,477,15,13,6386.000000,889.0,23.0,35.0,2,15.000000,100.000000,0.110060,5677.000000,8.000000,4.408916e+06
485,9,4,1,6327.000000,923.0,28.0,34.0,1,12.000000,154.000000,0.546061,5840.000000,4.000000,9.237370e+05
486,20,27,19,6309.000000,857.0,26.0,13.0,1,14.000000,110.000000,0.097944,5407.000000,5.000000,1.058820e+05
487,351,27,17,6309.000000,853.0,28.0,7.0,0,19.000000,176.000000,0.062106,5382.000000,5.000000,1.058820e+05
488,170,27,19,6049.000000,851.0,24.0,14.0,0,18.000000,186.000000,0.726026,5148.000000,4.000000,1.058820e+05
489,24,27,17,4801.000000,836.0,24.0,12.0,2,10.000000,163.000000,0.135389,4014.000000,7.000000,1.058820e+05
490,336,8,3,4630.000000,845.0,24.0,28.0,0,15.000000,152.000000,0.280742,3912.000000,6.000000,3.031180e+05
491,18,22,3,3200.000000,869.0,24.0,34.0,1,17.000000,167.000000,0.092957,2781.000000,4.000000,1.475311e+06
492,38,27,17,2749.000000,836.0,25.0,12.0,0,18.000000,146.000000,0.186739,2298.000000,8.000000,1.058820e+05
493,10,27,17,2438.000000,848.0,29.0,12.0,1,19.000000,190.000000,0.432991,2067.000000,4.000000,1.058820e+05
494,36,27,19,2422.000000,840.0,26.0,11.0,0,11.000000,146.000000,0.030421,2034.000000,4.000000,1.058820e+05
495,31,27,17,2152.000000,840.0,29.0,7.0,2,14.000000,124.000000,0.503070,1808.000000,8.000000,1.058820e+05
496,166,27,17,1641.000000,848.0,27.0,7.0,2,12.000000,181.000000,0.316926,1392.000000,4.000000,1.058820e+05
497,60,27,17,1517.000000,852.0,28.0,12.0,0,16.000000,198.000000,0.336852,1292.000000,6.000000,1.058820e+05
498,55,27,17,612.000000,853.0,24.0,9.0,1,19.000000,189.000000,0.723253,522.000000,6.000000,1.058820e+05
499,42,27,17,110.000000,852.0,27.0,8.0,2,18.000000,170.000000,0.421061,94.000000,8.000000,1.058820e+05
500,63,26,0,24747.468687,863.0,24.0,35.0,0,19.000000,149.000000,0.154375,0.000000,6.000000,3.104060e+06

In [60]:
test['SWM'].value_counts()

1    179
0    156
2    155
Name: SWM, dtype: int64

In [61]:
from sklearn.linear_model import LogisticRegression

In [62]:
model = LogisticRegression(max_iter=2000)

In [63]:
model.fit(X_train, y_train)

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=2000,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [64]:
yhat = model.predict(test)

In [65]:
yhat

array([ 2068,  2683,  2213,  2628,  2052,  2172,  2387,  2851,  2683,
        2683,  2172,  2628,  2596,  2532,  2628,  2694,  2683,  2172,
        2683,  2532,  2172,  2052,  2851,  2628,  2683,  2683,  2390,
        2172,  2697,  2532,  2694,  2172, 20133,  2390,  2628,  2532,
        2172,  2683,  2683,  2683,  2390,  2390,  2694,  2532,  2278,
        2172,  2694,  2172,  2172,  2628,  2532,  2532,  2172,  2851,
        2532,  2851,  2172,  2172,  2851,  2390,  2172,  2390,  2532,
        2172,  2172,  2172,  2532,  2567,  2143,  2596,  2596,  2567,
        2172,  2851,  2683,  2851,  2172,  2390,  2172,  2694,  2390,
        2172,  2172,  2172,  2390,  2532,  2532,  2851,  2172,  2851,
        2172,  2172,  2683,  2172,  2172,  2390,  2532,  2390,  2172,
        2851,  2172,  2390,  2390,  2172,  2694,  2390,  2851,  2172,
        2172,  2172,  2390,  2172,  2851,  2390,  2851,  2390,  2851,
        2172,  2172,  2172,  2172,  2172,  2851,  2532,  2851,  2683,
        2390,  2390,  2390,  2390,  2532,  2172,  2172,  2851,  2851,
        2172,  2851,  2851,  2172,  2532,  2172,  2390,  2532,  2172,
        2172,  2172,  2172,  2390,  2390,  2172,  2172,  2172,  2390,
        2172,  2390,  2390,  2172,  2172,  2683,  2532,  2851,  2851,
        2172,  2172,  2172,  2172,  2172,  2172,  2172,  2172,  2172,
        2172,  2390,  2390,  2172,  2694,  2532,  2694,  2172,  2851,
        2172,  2172,  2390,  2851,  2172,  2694,  2532,  2172,  2213,
        2213,  2213,  2430,  2172,  2532,  2390,  2172,  2390,  2172,
        2172,  2694,  2172,  2172,  2172,  2172,  2172,  2172,  2390,
        2172,  2390,  2851,  2851,  2390,  2390,  2172,  2172,  2390,
        2390,  2172,  2172,  2172,  2390,  2390,  2172,  2694,  2172,
        2390,  2172,  2694,  2390,  2390,  2172,  2390,  2390,  2172,
        2172,  2172,  2390,  2172,  2172,  2390,  2172,  2694,  2390,
        2851,  2390,  2390,  2172,  2851,  2628,  2172,  2172,  2172,
        2390,  2390,  2851,  2628,  2694,  2172,  2172,  2172,  2694,
        2628,  2172,  2172,  2628,  2172,  2628,  2172,  2628,  2172,
        2390,  2172,  2390,  2172,  2172,  2390,  2390,  2851,  2172,
        2628,  2851,  2851,  2694,  2172,  2851,  2172,  2172,  2172,
        2390,  2172,  2172,  2390,  2390,  2390,  2628,  2172,  2172,
        2172,  2628,  2851,  2694,  2390,  2628,  2390,  2172,  2390,
        2694,  2694,  2694,  2390,  2172,  2390,  2172,  2851,  2172,
        2172,  2172,  2694,  2172,  2172,  2390,  2390,  2851,  2172,
        2390,  2390,  2390,  2390,  2390,  2172,  2172,  2172,  2172,
        2390,  3702,  3702,  3702,  3702,  2172,  2390,  2172,  2390,
        2172,  2172,  2172,  2172,  2851,  2172,  2172,  2390,  2851,
        2172,  2851,  2172,  2390,  2172,  2390,  2172,  2406,  2172,
        2172,  2390,  2172,  2172,  2390,  2851,  2390,  2172,  2172,
        2390,  2390,  2172,  2390,  2172,  2851,  2172,  2172,  2390,
        2390,  2172,  2390,  2390,  2172,  2390,  2390,  2172,  2390,
        2390,  2851,  2390,  2172,  2172,  2172,  2390,  2390,  2172,
        2390,  2390,  2851,  2172,  2172,  2390,  2390,  2390,  2172,
        2390,  2851,  2390,  2851,  2172,  2172,  2390,  2851,  2390,
        2390,  2851,  2172,  2851,  2172,  2694,  2851,  2390,  2172,
        2851,  2851,  2851,  2851,  2694,  2172,  2851,  2172,  2851,
        2390,  2172,  2172,  2390,  2851,  2172,  2172,  2851,  2390,
        2172,  2390,  2172,  2851,  2851,  2851,  2851,  2172,  2172,
        2172,  2694,  2172,  2851,  2390,  2172,  2172,  2172,  2851,
        2172,  2694,  2363,  2363,  2363,  2363,  2363,  2363,  2363,
        2363,  2363,  2172,  2172,  2694,  2390,  2390,  2172,  2851,
        2851,  2172,  2694,  2390,  2913,  2913,  2913,  2913,  2913,
        2913,  2913,  2913,  2628], dtype=int64)

In [66]:
from sklearn.svm import SVR

In [67]:
svm_confirmed = SVR()

In [68]:
svm_confirmed.fit(X_test, y_test)

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [69]:
svm_pred_confirm = svm_confirmed.predict(test)

In [70]:
svm_pred_confirm

array([2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4, 2567.4,
       2567.4, 2567.4])

In [71]:
#Using KNN Classifier
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [72]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=5)
classifier.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [73]:
y_pred = classifier.predict(test)

In [74]:
y_pred

array([145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606,   2587,   2587,   2587,
         2587,   2587,   2587,   2587,   2587,   2587, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606, 145606, 145606, 145606, 145606, 145606, 145606,
       145606, 145606], dtype=int64)

In [75]:
#Using Guassian Naive Bayes Classifier
from sklearn.naive_bayes import GaussianNB

In [76]:
gnb = GaussianNB()

In [77]:
y_pred = gnb.fit(X_train, y_train).predict(test)
y_pred

array([2473, 2473, 2473, 2523, 2523, 2473, 2523, 2473, 2473, 2523, 2523,
       2523, 2473, 2473, 2523, 2473, 2473, 2473, 2473, 2473, 2473, 2523,
       2473, 2523, 2523, 2473, 2523, 2523, 2473, 2473, 2473, 2523, 2175,
       2523, 2523, 2473, 2523, 2523, 2473, 2523, 2523, 2523, 2473, 2473,
       2473, 2473, 2473, 2473, 2473, 2523, 2473, 2473, 2473, 2473, 2473,
       2473, 2523, 2473, 2473, 2523, 2523, 2523, 2473, 2473, 2473, 2523,
       2473, 2523, 2523, 2523, 2523, 2523, 2523, 2473, 2473, 2473, 2523,
       2523, 2523, 2473, 2523, 2473, 2473, 2473, 2523, 2473, 2473, 2473,
       2523, 2473, 2473, 2473, 2473, 2473, 2523, 2523, 2473, 2523, 2523,
       2473, 2523, 2523, 2523, 2523, 2473, 2523, 2473, 2473, 2473, 2523,
       2523, 2473, 2473, 2523, 2473, 2523, 2473, 2523, 2523, 2523, 2523,
       2473, 2473, 2473, 2473, 2473, 2523, 2523, 2523, 2523, 2473, 2473,
       2473, 2473, 2473, 2473, 2473, 2473, 2473, 2473, 2473, 2523, 2473,
       2473, 2523, 2473, 2473, 2523, 2523, 2473, 2523, 2523, 2523, 2473,
       2523, 2523, 2473, 2523, 2473, 2473, 2473, 2473, 2473, 2523, 2523,
       2473, 2523, 2523, 2523, 2473, 2523, 2523, 2523, 2523, 2473, 2473,
       2473, 2473, 2473, 2473, 2473, 2473, 2523, 2473, 2523, 2473, 2473,
       2523, 2132, 2132, 2132, 2132, 2523, 2473, 2523, 2473, 2523, 2523,
       2523, 2473, 2523, 2473, 2523, 2523, 2473, 2473, 2523, 2473, 2523,
       2473, 2473, 2523, 2523, 2523, 2523, 2523, 2523, 2473, 2473, 2523,
       2523, 2523, 2473, 2473, 2473, 2523, 2523, 2473, 2523, 2523, 2473,
       2523, 2523, 2523, 2473, 2523, 2523, 2473, 2473, 2523, 2523, 2473,
       2523, 2473, 2523, 2523, 2473, 2473, 2523, 2473, 2473, 2473, 2523,
       2523, 2473, 2523, 2473, 2473, 2523, 2473, 2473, 2523, 2523, 2473,
       2523, 2473, 2523, 2473, 2523, 2523, 2523, 2473, 2523, 2473, 2473,
       2523, 2523, 2473, 2473, 2523, 2473, 2473, 2473, 2473, 2473, 2473,
       2473, 2473, 2523, 2473, 2473, 2523, 2523, 2523, 2523, 2473, 2523,
       2473, 2523, 2473, 2473, 2523, 2523, 2523, 2473, 2523, 2473, 2473,
       2473, 2523, 2523, 2523, 2473, 2473, 2473, 2473, 2523, 2473, 2473,
       2523, 2523, 2523, 2473, 2523, 2523, 2523, 2523, 2523, 2523, 2473,
       2473, 2473, 2473, 2523, 2382, 2382, 2382, 2382, 2473, 2523, 2473,
       2523, 2523, 2473, 2523, 2523, 2473, 2473, 2523, 2523, 2473, 2523,
       2473, 2473, 2523, 2523, 2523, 2473, 2538, 2473, 2523, 2523, 2473,
       2473, 2523, 2473, 2523, 2473, 2523, 2523, 2523, 2473, 2523, 2473,
       2473, 2473, 2473, 2523, 2523, 2473, 2523, 2523, 2473, 2523, 2523,
       2523, 2523, 2523, 2473, 2523, 2473, 2523, 2473, 2523, 2523, 2473,
       2523, 2523, 2473, 2473, 2473, 2523, 2523, 2523, 2473, 2523, 2473,
       2523, 2473, 2473, 2523, 2523, 2473, 2523, 2523, 2473, 2523, 2473,
       2473, 2473, 2473, 2523, 2473, 2473, 2473, 2473, 2473, 2473, 2523,
       2473, 2473, 2473, 2523, 2523, 2473, 2523, 2473, 2473, 2473, 2473,
       2523, 2473, 2523, 2473, 2473, 2473, 2473, 2473, 2473, 2473, 2473,
       2473, 2473, 2473, 2523, 2473, 2473, 2473, 2473, 2473, 2473, 2382,
       2382, 2382, 2382, 2382, 2382, 2382, 2382, 2382, 2473, 2473, 2473,
       2210, 2473, 2473, 2473, 2473, 2473, 2473, 2210, 2473, 2473, 2473,
       2473, 2473, 2473, 2473, 2473, 2523], dtype=int64)

In [78]:
#Using Ridge
from sklearn.linear_model import Ridge

In [79]:
import numpy as np

In [80]:
n_samples, n_features = 490, 14

In [81]:
rng = np.random.RandomState(0)

In [82]:
y = rng.randn(n_samples)

In [83]:
X = rng.randn(n_samples, n_features)

In [84]:
clf = Ridge(alpha=1.0)
clf.fit(X, y)
Ridge()

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [85]:
a = clf.predict(test)
a

array([ 2056.63478649,  6019.33338563,  3516.13210086, 29485.40210016,
       21346.11000776,  6013.24159777, 29478.8673563 ,  2797.74379543,
        5993.10196822, 11163.37587719, 11312.54642583, 29455.33089375,
        2020.15792243,  3033.34427886, 29436.5977583 ,  5968.44918993,
        5969.88650363,  4609.9088311 ,  4618.04142365,  3427.47048398,
        5942.45975119, 11133.21869255,  2319.83084553, 29416.54062068,
       11118.36616327,  5939.98042357, 31139.59139285, 21257.95923743,
        1956.54239631,  3680.99837379,  5894.55238061, 11080.95129403,
        2537.58339756, 29371.9687336 , 29357.92579466,  3398.9782406 ,
       21216.98310719, 11076.55474667,  4538.86810759, 11067.06601842,
       31079.48811757, 29356.33784016,  4428.90453036,  3631.81035301,
        2519.80926467,  4520.57407188,  7630.21185311,  7637.83992255,
        4510.12768125, 29327.92412845,  2909.59853218,  2920.18253697,
        8009.53539574,  2311.38075161,  3595.92147425,  3358.89750492,
       21200.16431406,  7625.02851196,  2655.04803241, 31051.91563725,
       11017.23896328, 29318.78652743,  3703.31248076,  7600.04616   ,
        7961.84284184, 21152.68659784,  2878.2446291 , 30435.16908797,
       22287.06524546,  5592.98734851,  5598.88883272, 22276.68684026,
       21148.1150309 ,  2612.12770866,  3664.55066614,  2049.54056498,
       10979.52948131, 30999.22209217, 10969.79779884,  3261.65090163,
       29255.89552492,  7550.00283065,  5779.17617059,  5775.27235156,
       30982.83091067,  3527.63152287,  3534.19161301,  2591.30865669,
       21107.52679724,  1844.77557811,  4415.87338218,  7915.05205946,
        4420.1163921 ,  4413.90463192, 21110.25723429, 30969.99963225,
        3518.74504094, 30969.58094371, 21091.21280679,  2813.10469975,
       10937.70505238, 30958.24582351, 29220.85293522, 21066.20037363,
        5719.48315679, 29196.09572841,  1811.47158443,  5726.7335291 ,
        5707.52881409, 10892.00598683, 30922.84675687,  7484.68039833,
        1881.50339567, 30914.02966062,  2147.94934821, 29181.19871784,
        1754.61733226, 11028.18972383, 10881.34541486, 10883.50167992,
       11009.14389856,  5688.1781696 ,  1947.30072483,  3444.49041013,
        1767.81002513,  3172.20344672, 29139.67351146, 30848.51134185,
       30856.46403854, 29119.251304  ,  2287.3132884 ,  7418.11861477,
        7417.34572398,  1970.76103874,  1962.31907507,  4284.05949722,
        2276.60258783,  2090.3896092 ,  5624.91927369,  3496.95109065,
        4269.17066134, 29096.06134075,  3379.59562568,  3103.25387767,
       10805.04881723,  4260.74613685,  3101.71619412, 30804.87154059,
       30802.44091488,  7734.76246972, 20933.6596561 , 10767.51019471,
       29076.03963357,  7740.20688781, 30788.88261354, 29053.69289346,
        4129.04219617, 20916.26269544,  3453.51668179,  2218.31017953,
        1740.65057377,  1667.68895348,  7702.45753235, 10750.51238654,
       10735.60460621,  7689.74622077, 10724.83208417, 10727.0508691 ,
       20894.06851378,  5527.87405826, 20880.36467042, 10717.0465954 ,
       30742.23284917, 29006.20552181,  5515.85495704,  3284.94215808,
        3285.59480537,  3281.3203076 ,  7655.09373773,  1684.42822021,
        3274.73444795,  5507.85548773, 28992.30730042,  1961.77720488,
       10699.82649343,  3274.65887495,  2162.00918493, 10700.53419926,
        3843.26689672,  3847.44741931,  1718.96141897,  1615.01680733,
       20848.0836867 ,  3365.46942178, 28979.28301969,  7263.04098838,
       30697.02908327, 10677.81401575, 10798.15263313,  7609.86584006,
       20823.07534649,  7259.23196203, 10792.20984217, 10799.52830715,
        5476.21615643,  5475.06282765, 28936.19418433,  3221.6783866 ,
       30663.44720695,  1716.43344812,  2265.77221813, 28923.30726816,
       28928.43354408, 20795.27419996, 20792.42443501, 30655.05443578,
       28922.6478771 ,  7573.38400889,  5443.1061771 , 10621.10095941,
       28902.36243085, 28911.43514336,  5431.56737507,  5418.07298986,
        4063.46909711, 28900.41524855, 20759.90446563,  5405.3136396 ,
       28893.20675236, 30611.68720925,  3281.22007523, 28895.71761475,
       30618.12914041, 10729.11456221,  4051.26826416, 10599.10912365,
       28879.0374167 ,  7176.24292523,  5397.1231769 , 28860.11737188,
       10583.66598613,  3152.22306203, 30584.48498827,  2044.02534481,
       30588.35772974, 30589.34048908,  4029.68330869,  2033.44314051,
       20715.86373911,  3138.87245981,  4011.54516257,  4016.2665625 ,
       30573.19506542, 28844.70259252,  1538.78449251, 20704.54078613,
        4000.45535334,  5350.04226293, 10547.47472052,  7122.97694232,
        3996.25044131, 20689.48129781, 10526.19112686,  2852.76410477,
       20673.26729383,  5329.48553797, 20672.39592082,  7109.11376481,
       20664.62068762, 10516.8432567 , 30529.75838047,  5307.35507051,
       30525.36319877,  3197.50300177,  3958.67167047, 30524.08028036,
       28800.96395372,  2370.09263333,  7439.70017245, 20647.30631061,
        1473.02850835,  1941.85787991,  3850.22325759,  3942.13160961,
        1473.08657045,  2776.93838985,  2813.59407523,  3162.67292361,
       30494.2993354 ,  5271.00992651,  3927.86945354, 30490.44938514,
       30478.72912963, 20622.02804747, 20612.90309431,  7055.77474698,
       10459.79221228,  7403.35113062, 20608.01063031,  2771.41316046,
        2773.20134646, 28754.90821814, 20610.8425075 , 30459.68919135,
        3816.91165829, 30473.1234304 ,  2754.72612092,  5250.79387078,
        7379.13432878, 20599.80539493, 10570.17340788, 30459.80870392,
        5248.84339659,  1696.96260308,  3020.61489912,  3889.56712134,
       10431.09918901,  5231.48893999,  7014.66209353, 10432.76098449,
       28715.33198535, 30438.9054699 ,  1303.14282358, 10427.10368462,
       28712.24639399, 30439.10070452, 20582.18453931, 20580.1089431 ,
       20568.44222556,  7356.5452246 ,  2744.30705763,  3868.53660283,
        3867.10655205, 20561.41661184,  3306.4664784 ,  3301.53320263,
        3299.61544194,  3301.73747121,  2974.67369556, 20551.23301651,
        3846.07856598, 28691.2320244 , 10401.67099926,  2717.776345  ,
       10398.36498302, 10396.73500527,  1861.26632246,  2718.0767642 ,
       10394.24988918, 20531.43165788,  2242.08775516, 10500.74278652,
        1229.17911846,  6958.53933622, 30398.6957231 , 10493.93871387,
       30383.89655745,  2696.95251273,   549.10103309,  3830.53153477,
       10379.02186414, 28651.15346641,  2684.49020576,  6955.98394974,
       20519.92185995,  1836.04799832, 28652.99841456,  5160.51273971,
       10358.98939521, 30373.650735  , 20503.64054002,  3801.01365895,
       30366.67911075,  3810.1934774 ,  1815.49465117,  3800.68266053,
        2667.5314545 , 20492.07614186, 20491.9167706 ,  6916.6617625 ,
       30355.02804238, 20491.34174584,  2923.63477228, 20491.92648087,
       28623.53349972, 10449.66143894, 28615.11141671, 30339.30188215,
        1295.91908552, 20472.32425665,  3005.94946713, 10324.33605118,
        3774.16346372, 30336.97631795, 30334.30639252,  7251.34176306,
       20464.50662163, 28588.30357483,  1170.90543873,  3752.57568479,
        7235.22908291, 28589.6880531 , 20450.75510827, 30298.09689492,
        5087.24245781, 30301.55401445,  1344.3537306 , 20433.15068097,
        1160.11889936,  6849.35977688, 10283.07880751, 28571.07837591,
        1726.18445032, 20428.36059984, 30289.82739253,  1333.38715238,
       10272.91944442,  1096.82177927,  2555.32887472,  2553.72190556,
        1693.18861496, 20359.61826835,  7130.16741713,  1243.72226826,
        1646.81385453,  1591.60403748,  1578.31216671,  3541.31293714,
       10084.69098187,  1549.81283021,  2384.80066074,  1463.33203797,
       29995.74256581, 10103.53911607,  4781.63368325, 20135.35847286,
        1385.49473216,  2207.96781198,  2559.21355296,  1324.46537991,
       19973.04398229,  2413.48503469, 28087.13242044,  6370.27103074,
        1257.09496653,  1251.18767073,  1235.49231667,  1213.02434003,
        2308.06164227,  6628.05818365,  2015.9174113 ,  1166.11930269,
        1168.6820882 ,  1138.47831605,  9668.00317885,  1132.17478678,
        1120.30041642,  1111.88370773,   851.73460165,  1090.21016604,
        1900.25413414,  2720.02155408,  2713.83967514,  2708.88691215,
        2708.0512718 ,  2695.60995291,  2684.5013881 ,  2685.9783025 ,
        2683.4230883 ,  2666.67034994,  1004.88830651,   990.71423337,
        1804.62925874, 27786.69409421,  6084.61636776,   979.24255544,
         972.23077357,   963.45762906,   897.11030603,  2107.86675083,
        9343.86233332,   783.16438047,   768.90934111,   765.16497589,
         749.51351967,   719.78921566,   716.90847001,   666.62231053,
         638.38231411, 20313.65307419])

In [94]:
Final = pd.DataFrame({'City': cities, 'Corona Cases': np.round(a)})

In [95]:
Final

                     City  Corona Cases
0                Tuensang        2057.0
1            Lakshmeshwar        6019.0
2                    Zira        3516.0
3                   Yawal       29485.0
4            Thana Bhawan       21346.0
5                 Ramdurg        6013.0
6                 Pulgaon       29479.0
7              Sadasivpet        2798.0
8                 Nargund        5993.0
9           Neem-Ka-Thana       11163.0
10                 Memari       11313.0
11                Nilanga       29455.0
12             Naharlagun        2020.0
13                 Pakaur        3033.0
14                    Wai       29437.0
15               Tarikere        5968.0
16              Malavalli        5970.0
17                 Raisen        4610.0
18                  Lahar        4618.0
19             Uravakonda        3427.0
20                Savanur        5942.0
21                 Sirohi       11133.0
22               Udhampur        2320.0
23                 Umarga       29417.0
24             Pratapgarh       11118.0
25              Lingsugur        5940.0
26            Usilampatti       31140.0
27            Palia Kalan       21258.0
28                  Wokha        1957.0
29               Rajpipla        3681.0
..                    ...           ...
470        Sanivarapupeta        1900.0
471              Lohaghat        2720.0
472               Bhimtal        2714.0
473               Lalkuan        2709.0
474            Kaladhungi        2708.0
476  Mahua Dabra Haripura        2696.0
477             Chandpara        2685.0
478             Dharchula        2686.0
479                 Adyar        2683.0
480          Narsinghgarh        2667.0
481                Barkot        1005.0
482               Didihat         991.0
483            Satrampadu        1805.0
484                 Warud       27787.0
485              Asarganj        6085.0
486               Bhowali         979.0
487            Shaktigarh         972.0
488         Narendranagar         963.0
489             Champawat         897.0
490                Sarsod        2108.0
491             Bhaiseena        9344.0
492              Dwarahat         783.0
493             Badrinath         769.0
494               Dogadda         765.0
495             Devprayag         750.0
496           Nandaprayag         720.0
497            Kirtinagar         717.0
498             Kedarnath         667.0
499              Gangotri         638.0
500             Kumarganj       20314.0

[490 rows x 2 columns]

In [97]:
Final.to_csv(r'E:\flipr-hackathon\Part-1\Output-Part(1).csv')